.card {
    font-family: 'Poppins';
}

.typ {
    margin-block: 1rem;
    font-family: 'Poppins'
}

.cards {
    padding: 2rem;
}

.button {
    background: teal;
    color: white;
    height: 3rem;
}

.button:hover {
    background: white;
    color: teal;
    border: 1px solid teal;
}