.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
    overflow: hidden;
    background: linear-gradient(transparent 1%, white 3%);
}

.button {
    color: white;
}

.button:hover {
    color: teal;
}

.buttonStyles {
    background-color: 'teal';
    fontWeight: 600,
}